## <center> Immobilier Data Pre-processing</center>
Datset is given in text format so we will convert the file format to csv and then import it in Oracle MySQL in order to load to do data analysis for later.

As data of DVF are provided based on year,to do a data analysis we will concate the last five year data file into single file.

In [1]:
import csv
import pandas as pd

txt_list=['Dataset/DVF2019.txt','Dataset/DVF2018.txt','Dataset/DVF2017.txt','Dataset/DVF2016.txt','Dataset/DVF2015.txt']
csv_list=['Dataset/DVF2019.csv','Dataset/DVF2018.csv','Dataset/DVF2017.csv','Dataset/DVF2016.csv','Dataset/DVF2015.csv']
for txtpath,csvpath in zip(txt_list, csv_list):
    with open(txtpath, 'r') as in_file:
        stripped = (line.strip() for line in in_file)
        lines = (line.split("|") for line in stripped if line)
        with open(csvpath, 'w') as out_file:
            writer = csv.writer(out_file)
            #writer.writerow(('Code service CH','Reference document','1 Articles CGI','2 Articles CGI','3 Articles CGI','4 Articles CGI','5 Articles CGI','No disposition','Date mutation','Nature mutation','Valeur fonciere','No voie','B/T/Q','Type de voie','Code voie','Voie','Code postal','Commune','Code departement','Code commune','Prefixe de section','Section','No plan','No Volume','1er lot','Surface Carrez du 1er lot','2eme lot','Surface Carrez du 2eme lot','3eme lot','Surface Carrez du 3eme lot','4eme lot','Surface Carrez du 4eme lot','5eme lot','Surface Carrez du 5eme lot','Nombre de lots','Code type local','Type local','Identifiant local','Surface reelle bati','Nombre pieces principales','Nature culture','Nature culture speciale','Surface terrain'))
            writer.writerows(lines)

In [2]:
df_2019 = pd.read_csv('Dataset/DVF2019.csv')
df_2018 = pd.read_csv('Dataset/DVF2018.csv')
df_2017 = pd.read_csv('Dataset/DVF2017.csv')
df_2016 = pd.read_csv('Dataset/DVF2016.csv')
df_2015 = pd.read_csv('Dataset/DVF2015.csv')

C:\Users\ABONIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (18,23,24,26,28,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ABONIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (18,23,24,26,28,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ABONIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (24,26,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ABONIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (23,24,26,27,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ABONIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (23,24,26,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_2019.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2019,Vente,...,NaN,1,2.0,Appartement,NaN,20.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2019,Vente,...,NaN,2,2.0,Appartement,NaN,62.0,3.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2019,Vente,...,NaN,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2019,Vente,...,NaN,0,1.0,Maison,NaN,90.0,4.0,S,NaN,940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2019,Vente,...,NaN,0,1.0,Maison,NaN,101.0,5.0,S,NaN,490.0

In [4]:
df_2019.shape

(740794, 43)

In [5]:
df_2018.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,2,2.0,Appartement,NaN,73.0,4.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,S,NaN,949.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,S,NaN,949.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,AG,JARD,420.0

In [6]:
df_2018.shape

(859986, 43)

In [7]:
df_2017.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2017,Vente,...,NaN,2,2.0,Appartement,NaN,37.0,2.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2017,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,788.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2017,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,42.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2017,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,77.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2017,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,94.0

In [8]:
df_2017.shape

(290181, 43)

In [9]:
df_2016.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2016,Vente,...,NaN,1,2.0,Appartement,NaN,50.0,2.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2016,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,1486.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2016,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,3904.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2016,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,1779.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2016,Vente,...,NaN,0,4.0,Local industriel. commercial ou assimilÃ©,NaN,0.0,0.0,S,NaN,838.0

In [10]:
df_2016.shape

(558320, 43)

In [11]:
df_2015.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,82.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AB,NaN,1550.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,4.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,07/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,298.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/01/2015,Vente,...,NaN,0.0,3.0,DÃ©pendance,NaN,0.0,0.0,S,NaN,195.0

In [12]:
df_2015.shape

(627607, 43)

In [15]:
dvf_df=pd.concat([df_2015,df_2016,df_2017,df_2018,df_2019])

In [16]:
dvf_df.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,82.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AB,NaN,1550.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,4.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,07/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,298.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/01/2015,Vente,...,NaN,0.0,3.0,DÃ©pendance,NaN,0.0,0.0,S,NaN,195.0

In [17]:
dvf_df.shape

(3076888, 43)

In [21]:
dvf_df.to_csv('Dataset/Processed_data.csv', sep=',',index=False)

In [22]:
dvf = pd.read_csv('Dataset/Processed_data.csv')

C:\Users\ABONIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (18,23,24,26,28,29,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
dvf.shape

(3076888, 43)

In [24]:
dvf.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,82.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AB,NaN,1550.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,4.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,07/01/2015,Vente,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,298.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/01/2015,Vente,...,NaN,0.0,3.0,DÃ©pendance,NaN,0.0,0.0,S,NaN,195.0

In [25]:
dvf.tail()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
3076883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/10/2019,Vente,...,NaN,1.0,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
3076884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/10/2019,Vente,...,NaN,1.0,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
3076885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/10/2019,Vente,...,NaN,1.0,2.0,Appartement,NaN,48.0,2.0,NaN,NaN,NaN
3076886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/11/2019,Vente en l'Ã©tat futur d'achÃ¨vement,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3076887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/11/2019,Vente en l'Ã©tat futur d'achÃ¨vement,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pandas as pd
dvf = pd.read_csv('Dataset/Processed_data.csv')
dvf=dvf.sample(n=1048576)

In [7]:
dvf.to_csv('Dataset/Processed_Dashboard_data.csv', sep=',',index=False)